#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
cgi-bin
stats
_resources/
STAFFPHOTOS
*.scssc
#web/dev/wp-content/plugins/*
web/dev/wp-content/plugins/akismet/*
web/dev/wp-content/media/*
#web/dev/wp-content/themes/bystl_WP/*.css


web/dev/wp-content/themes/twentyeleven/
*.zip
/web/dev/wp-config.php
