.sched-table {
  color: $gray6;
  font-size: $baseFontSize - 1;
  @include box-shadow(0 0 12px 1px rgba(0, 0, 0, 0.2));

  a {
    color: $bystl_link_blue;
  }

  caption {
    background: $bystl_blue_navy;
    color: lighten($bystl_logo_blueLight, 10%);
    font-size: $baseFontSize + 2;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0 -1px 0 darken($bystl_blue_navy, 20%);
    @include box-shadow(inset 0 1px 0 darken($bystl_blue_navy, 10%), 0 -1px 12px 1px rgba(0, 0, 0, 0.3));
    border: 1px solid darken($bystl_blue_navy, 10%);
    z-index: -99;
  }

  th, td {
    color: $gray6;
    text-align: center;
    text-shadow: 0 1px 0 rgba($white, 0.5);
  }

  thead {

    th {
      font-size: 8px;
      padding: 5px 0;
      text-transform: uppercase;
      border-bottom: 1px solid #bbbbbb;
      background: #f7f7f7;
      @include background-image(linear-gradient(#f7f7f7, #f1f1f1));
    }

  } // END .sched-table thead

  tbody {

    td {
      padding: 14px 4px;
      font-weight: bold;
      border: 1px solid;
      border-color: $white #bbbbbb #bbbbbb $white;
      background: #ededed;
      @include background-image(linear-gradient(#ededed, #dedede));

      &:first-child {
        // far left column of each body row
        background: $grayLighter;
        @include background-image(linear-gradient($grayLighter, #ededed));
      } // END .sched-table tbody td:first-child

      &.pad {
        background: #f5f5f5;
        @include background-image(linear-gradient(#f5f5f5, #ececec));
      } // END .sched-table tbody td.pad

    } // END .sched-table tbody td

  } // END .sched-table tbody

  tfoot {
    color: #e0e0e0;
    font-size: $baseFontSize - 1;
    text-align: center;

    tr {
      background: #f5f5f5;
      @include background-image(linear-gradient(#f5f5f5, #ececec));
    } // END .sched-table tfoot tr

    td {
      padding: 10px 10px;

      &#prev {
        text-align: left;
      }
      &#next {
        text-align: right;
      }

    } // END .sched-table tfoot td

    a {
      color: $gray6;
      text-shadow: 0 1px 0 rgba($white, 0.5);
    } // END .sched-table tfoot a

  } // END .sched-table tfoot

  // ACTIVE CELL
  #today, .class {
    color: $white;
    text-align: center;
    border: 1px solid darken($bystl_logo_blueLight, 10%);
    text-shadow: 0 1px 0 rgba($black, 0.3);
    background: $bystl_logo_blueLight;
  } // END .sched-table #today, .class

  #today, [class*="icon-"]:before {
    position: relative;
    left: 5px;
    top: 2px;
    @include opacity(.3);
  } // END .sched-table cell icon style (inactive)

  #today, .class [class*="icon-"]:before {
    @include opacity(1);
    top: 1px;
  } // END .sched-table cell icon style (inactive)

} // END .sched-table