$bystl_logo_blueDarkest_orig: #3e536b !default;
$bystl_logo_blueLight_orig: #b0bac4 !default;


/*  BLUES
---------------------------------------------- */

$bystl_blue_medium:       #84bdcd   !default;
$bystl_logo_blueLight:    #7ec6e0   !default;
$bystl_link_blue:         #1592ca   !default;
$bystl_link_blueHover:    #53c1ea   !default;
$bystl_logo_blueDarkest:  #00709D   !default;