/*----------------------------------------------

  PARTIAL:  bystl/_colorpalette.scss
  PARENT:   style.scss
  
----------------------------------------------*/

// contrast shades
$black:                 #000 !default; // default is black
$almostBlack:           #111 !default; // almostBlack
$grayDarker:            #222 !default; // grayDarker
$grayDark:              #333 !default; // grayDark
$gray4:                 #444 !default; // gray4
$gray:                  #555 !default; // gray
$gray6:                 #666 !default; // gray8
$grayMedium:            #777 !default; // grayMedium
$grayLight:             #999 !default; // grayLight
$grayLighterD:          #ddd !default; // grayLighterD
$grayLighter:           #eee !default; // grayLighter
$almostWhite:           #fcfcfc !default; // almostWhite
$white:                 #fff !default; // white

// Accent colors
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$blueLight:             #52a8ec !default;  
$teal:                  #00b3ee !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$hotPink:               #dd1144 !default;
$purple:                #7a43b6 !default;
$likeItColor:           #f56559 !default;

/*  BLUES
---------------------------------------------- */

$bystl_blue_medium:       #84bdcd   !default;
$bystl_logo_blueLight:    #7ec6e0   !default;
$bystl_link_blue:         #1592ca   !default;
$bystl_link_blueHover:    #53c1ea   !default;
$bystl_logo_blueDarkest:  #00709D   !default;

// replaces $bystl_blue_navy in synapse defaults
$bystl_blue_navy:         #3d5269   !default;
//$bystl_blue_navy:         #002f41   !default; // for "alternate" sections

// replaces #7c7f81 in synapse defaults
$bystl_blue_navyLtOffset: #365572   !default;

// replaces #30335 in synapse defaults
//$bystl_blue_black:        #001d29   !default; // for "alternate" sections
$bystl_blue_black:        #273443   !default; 
$black:                   $bystl_blue_black !default; //tb_override



/*  BROWNS / TANS (replacing blacks / grays)
---------------------------------------------- */
$bystl_brown:             #55350c   !default;

// replaces $bystl_brown_almstBlk, rgba($bystl_brown_almstBlk) in synapse defaults
$bystl_brown_almstBlk:    #321e04   !default; // rgba(50,30,4)

// replaces #000000, rgba($black) in synapse defaults
$bystl_brown_black:       #201302   !default; // rgba(32,19,2)

$bystl_tan_light:         #e6e2d7   !default;

// replaces #a1a1a1 in synapse defaults
$bystl_tan_medium:        #c5c2ba   !default;

$bystl_tan_dark:          #9e9b94   !default;
$bystl_tan_darkest:       #75736d   !default;

$almostWhiteF2:           #f2f2f2   !default;

// common color replacements
$ccc:                     $bystl_tan_medium   !default;
$_333:                    #3c352d             !default;
$e5e5e5:                  $bystl_tan_light    !default;

/*  PRIMARY INTERACTION COLORS (tb overrides)
---------------------------------------------- */
$gridColumns:                     16 !default;
$bodyBackground:                  $bystl_tan_light !default;

$linkColor:                       $bystl_link_blue  !default;
$linkColorHover:                  $bystl_link_blueHover !default;

$navbarHeight_int:                40 !default;
$navbarHeight:                    $navbarHeight_int + 0px !default;
$navbarBackground:                $bystl_brown_black !default;
$navbarBackgroundHighlight:       $bystl_brown_almstBlk !default;

$navbarText:                      $bystl_tan_medium !default;
$navbarLinkColor:                 $bystl_tan_medium !default;
$navbarLinkColorHover:            $white !default;
$navbarLinkColorActive:           $navbarLinkColorHover !default;
$navbarLinkBackgroundHover:       $navbarBackground !default;
$navbarLinkBackgroundActive:      lighten(desaturate($navbarBackgroundHighlight, 50%), 3%) !default;
$navbarLinkTextShadow:            0 -1px 0 rgba($bystl_brown_black,.25) !default;

$navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
$navbarSearchBackgroundFocus:     $white !default;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
$navbarSearchPlaceholderColor:    lighten($navbarSearchBackground, 75%) !default;
$navbarBrandColor:                $navbarLinkColor !default;

// Buttons
// -------------------------
$headingColor:                    $bystl_brown_black !default;

// Buttons
// -------------------------
$btnBackground:                     #fcfbf5 !default;
$btnBackgroundHighlight:            darken(#fcfbf5, 6%) !default;
$btnBorder:                         $ccc !default;

// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   $ccc !default;
$inputBorderRadius:             3px !default;
$inputDisabledBackground:       darken(#f5f4f0, 6%) !default;
$formActionsBackground:         #f5f4f0 !default;

// Dropdowns
// -------------------------
$dropdownBackground:            $white !default;
$dropdownBorder:                $ccc !default;
$dropdownLinkColor:             $_333 !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkBackgroundHover:   $linkColor !default;



// COLOR STYLE MIXINS
$hoverDarkenAmount: 1% !default;
$hov1: darken($bystl_blue_navy, $hoverDarkenAmount) !default;
$hov2: darken($bystl_blue_black, $hoverDarkenAmount) !default;
$insetBd: rgba($white, 0.3)  !default;
$outerSh: rgba($bystl_blue_black, 0.35) !default;
@mixin darkBlueWidget($outerShOpacity: .35) {
  color: lighten($bystl_blue_medium, 10%) !important;
  border: 1px solid darken($bystl_blue_black, 10%); // should be 1f1f1f
  border-bottom-color: darken($bystl_blue_black, 15%); // should be 161616
  background: $bystl_blue_navy; /* Old browsers */
  @include background-image(linear-gradient($bystl_blue_navy, $bystl_blue_black));
  @include filter-gradient($bystl_blue_navy, $bystl_blue_black);
  @include box-shadow(inset 0 1px 0 $insetBd, 0 1px 2px rgba($bystl_blue_black, $outerShOpacity));
  @include border-radius(5px);

  &:hover {
    
    @include background-image(linear-gradient($hov1, $hov2));
    @include filter-gradient($hov1, $hov2);
    @include box-shadow(inset 0 1px 0 opacify($insetBd, .1), opacify(rgba($bystl_blue_black, $outerShOpacity), .1));
  }
}

@mixin pageContentColors {
  background: $white;
  @include box-shadow(0 1px 1px rgba($black, 0.15));
  @include border-radius(5px);
}

@mixin pageContentPadding {
  padding: ($pageContentPad / 2) $pageContentPad $pageContentPad $pageContentPad;
  //width: 100% - ($pageContentPad * 2);
  width: 100%;
}

@mixin boxContentPadding {
  $boxContentPad: $pageContentPad * 2 !default;
  padding: ($boxContentPad / 2) $boxContentPad $boxContentPad $boxContentPad;
  //width: 100% - ($boxContentPad * 2);
  width: 100%;
}

@mixin pageContentStyle {
  margin-bottom: 30px;
  @include pageContentPadding;
  @include pageContentColors;
}