// "connections" bio styles

.bio-entry {

    margin-top: 30px;

    .bioImg {
        // bio-photo container
        float: right;
        margin: 1% 0 1.5% 6%;

        .staffBios & {
            margin: 4% 6% 2% 4%;
        }

        img {
            @include border-radius(7px);
            @include box-shadow(0 0 8px 0 rgba($black,.2));
            width: 100%;
            height: 100%;

            .staffBios & {
                width: 130px;
            }

        }

    }

    h4 a, .h4 a {
        color: $bystl_link_blue;
        &:hover {
            color: $bystl_link_blueHover;
        }
    }

} // END: .cn-entry