/*----------------------------------------------

  PARTIAL:  bystl/_webfonts.scss
  PARENT:   style.scs

 ----------------------------------------------*/

$icoFont_path: "fontawesome/fontawesome-webfont" !default;
$icoFont_name: "FontAwesome" !default;
$logoFont_path: "bystl-logo-font/bystl-logo" !default; // FetteMittelSchrift-Regular
$logoFont_name: "bystlLogoFont" !default;

$headerLogoImg: image-url("bystl_header-logo_symbol.png", true);
$navbarLogoImg: image-url("bystl_header-logo_symbol_navbar.png", true);

/*  EMBED THE WEBFONTS
---------------------------------------------- */

// icon font (replaces twitter bootstrap _sprites.scss)
@include webfont_src($icoFont_path, $icoFont_name);
// logo / heading font
@include webfont_src($logoFont_path, $logoFont_name);


/*  MIXIN TO USE THE FONTS WITHIN A STYLE DECLARATION
---------------------------------------------- */

@mixin bystlLogoFont($symbol: true, $style: "bw") {

  @include webfont($logoFont_name, "sans-serif");

  @if $symbol {
    @if $style == "bw" {
      $logoImgW: image-width($navbarLogoImg) !default;
      $logoImgH: image-height($navbarLogoImg) !default;
//      @debug "navbarImgW: #{$logoImgW}";
      line-height: $logoImgH / 2;
      padding-left: ($logoImgW  / 2) + 4;
    } @else {
      $logoImgW: image-width($headerLogoImg) !default;
      $logoImgH: image-height($headerLogoImg) !default;
//      @debug "headerImgW: #{$logoImgW}";
      line-height: $logoImgH / 2;
      padding-left: ($logoImgW / 2) + 10;
    }

  }
    text-transform: lowercase;
    letter-spacing: normal;
    @if $style == "color" {
      color: $bystl_logo_blueLight;
      .original & {
        color: $bystl_logo_blueLight_orig;
      }
    } @else {
      color: inherit;
    }

    white-space: nowrap;
    word-spacing: -3px;
    strong {
        // dark blue (the rest is light blue)
        word-spacing: -1px;
        font-weight: normal;
        @if $style == "color" {
          color: $bystl_logo_blueDarkest;
          .original & {
            color: $bystl_logo_blueDarkest_orig;
          }
        } @else {
          color: inherit;
        }
    }

} // END: bystlLogoFont;