@charset "UTF-8";

$modernizr: true !default; // are we using modernizr?

@function isDev() {
  $isDev: true !default;
  @if $isDev {
    @return "/dev";
  } @else {
    @return "";
  }
}
@import "_theme-synapse_meta.scss"; // THIS MUST BE FIRST (it is just the comments for wordpress info)
/*!---
  compass helpers
---*/
@import "_global-compass.scss";
$legacy-support-for-ie: false;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$legacy-support-for-ie9: false;
$experimental-support-for-microsoft: false;
/*!---
  bystl color palette
---*/
@import "bystl/_variables.scss";
@import "bystl/_colorBase_new.scss";
@import "bystl/_colorpalette.scss";
/*!---
  bootstrap
---*/
@import "bootstrap/_bootstrap.scss";
/*!---
  bystl webfonts
---*/
@import "bystl/_webfonts.scss";
// global webfont icons
@import "bystl/_font-awesome.scss"; // replaces bootstrap/sprites
@import "bystl/_calendar.scss";
@import "bystl/_plugin-styles.scss";
/*!---
  primary theme framework styles (SynapseWP)
---*/
//@import "theme-synapse_fw_prettify";
//@import "theme-synapse_fw_prettyphoto";
//@import "theme-synapse_fw_superfish";
/*!---
  primary theme styles (SynapseWP)
---*/
@import "_theme-synapse.scss";
/*!---
  RESPONSIVE DESIGN
---*/
@import "bootstrap/_responsive.scss";