/*----------------------------------------------

	PARTIAL:	_alerts.scss
	PARENT:		_theme-synapse.scss
	
 ----------------------------------------------*/
 
.alert-message {
	@extend .alert;
	&.success {
		@extend .alert-success;
	}
	&.warning {
		@extend .alert-warning;
	}
	&.danger, &.error {
		@extend .alert-danger;
	}
	&.info {
		@extend .alert-info;
	}
}
.alert-message strong, .alert-message .alert-heading {
	@extend .alert-heading;
}
.contact-error {
	@extend .alert-error;
	margin-top: 25px;
	//max-width: 380px;
	width: auto;
}