/*----------------------------------------------

	PARTIAL:	_article.scss
	PARENT:		_theme-synapse.scss
	
----------------------------------------------*/

.article-thumb {
	position: relative;
	margin-bottom: 30px;
}
.title-no-img {
	color:#474747;
	font-family: $serifFontFamily;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
	line-height:28px;
	padding-bottom: 20px;
	@include display(block);
}
.article-title {
	background: $white;
	position: absolute;
	left: -2px;
	bottom: -2px;
	color: #474747;
	font-family: $serifFontFamily;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	padding: 20px 20px 0 0;
	////max-width: 400px;
	width: 100%;
	@include border-radius(5px);
}
.article-thumb img {
	@include border-radius(5px);
}
.article-meta {
	background: #7f7f7f; /* Old browsers */
	@include background-image(linear-gradient(#7f7f7f, #a0a0a0));
	@include filter-gradient(#7f7f7f, #a0a0a0);
	@include border-radius(5px);
	@include box-shadow(inset 0 1px 1px rgba($black, 0.4));
	padding: 11px 15px 10px 15px;
	font-weight: bold;
	color: $white !important;
	text-shadow: 1px 1px 1px rgba($black, 0.4);
}
.article-meta a {
	color: $white !important;
	text-shadow: 1px 1px 1px rgba($black, 0.4);
	font-style: italic;
}
.article-comments {
	float: left;
}
.article-date {
	float: right;
}
.article-comment {
	background: url(image-url('icon-comments.png', true)) no-repeat 0 1px;
	padding-left: 20px;
}
.article-excerpt {
	margin-top: 25px;
}
.blog-articles-list {
	margin-bottom: 0 !important;
}
.blog-article {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #cbcbcb;
}
.blog-articles-list > li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}