/*----------------------------------------------

	PARTIAL:	_callout.scss
	PARENT:		_theme-synapse.scss

 ----------------------------------------------*/

.callout {
	padding: 15px 25px;
	background: $white; /* Old browsers */
	@include background-image(linear-gradient($white, $almostWhiteF2));
//	@include filter-gradient($white, $almostWhiteF2);
	@include border-radius($pageContentBdRadius);
	@include box-shadow(0 1px 1px rgba($black, 0.15));
	////max-width: 890px;
	width: auto;
	margin-bottom: 40px;
	@include ie7(margin-top, 130px);

	h3, .h3 {
		font-size: 18px;
	}
}

.callout-info {
	float: left;
	////max-width: 630px;
	width: auto;
}
.callout .big-btn {
	float: right;
	margin-top: 10px;
}
