/*----------------------------------------------

	PARTIAL:	_comments.scss
	PARENT:		_theme-synapse.scss
	
 ----------------------------------------------*/
 
#comment-form span {
	margin-bottom: 10px;
	margin-top: 10px;
	@include display(block);
	font-weight: bold;
}
#textarea3 {
	//max-width: 565px;
	width: auto;
}
.comment-info img {
	@include border-radius(5px);
	@include box-shadow(0 1px 2px rgba($black, 0.35));
}
.comment-info {
	float: left;
}
.comment-content {
	float: right;
	//max-width: 485px;
	width: auto;
}
.comment-meta {
	margin-bottom: 15px;

}
.comment-meta span {
	font-weight: bold;
	@include display(block);
	margin-bottom: 5px;
	color: #1f1f1f;
}
.comment-meta a {
	font-family: $serifFontFamily;
	font-size: $baseFontSize - 2;
	font-style: italic;
}
.comment {
	padding-bottom: 20px;
	padding-top: 27px;
	margin-bottom: 20px;
	background: $white;
	padding: 25px 25px 25px 25px;
	//max-width: 578px;
	width: auto;
	@include border-radius(5px);
	@include box-shadow(0 1px 1px rgba($black, 0.15));
	margin-bottom: 30px;
	font-size: $baseFontSize - 1;
}
.comment-author {
	float: left;
}
.comment-reply {
	float: right;
	margin-right: 10px;
}
.children li {
	//max-width: 525px;
	width: auto;
	margin-bottom: 0;
	@include box-shadow(0 1px 1px rgba($black, 0.15));
	margin-top: 15px;
	background: #eaf0f1;
}
.children li .comment-content {
	//max-width: 430px;
	width: auto;
}
.children li .children li {
	background: $white;
	@include box-shadow(0 1px 1px rgba($black, 0.1));
	//max-width: 475px;
	width: auto;
}
.children li .children li .comment-content {
	//max-width: 385px;
	width: auto;
}
.children li .children li .children li {
	background: #eaf0f1;
	@include box-shadow(0 1px 1px rgba($black, 0.15));
	//max-width: 425px;
	width: auto;
}
.children li .children li .children li .comment-content {
	//max-width: 340px;
	width: auto;
}

.children li .children li .children li .children li {
	background: $white;
	@include box-shadow(0 1px 1px rgba($black, 0.1));
	//max-width: 375px;
	width: auto;
}
.children li .children li .children li .children li .comment-content {
	//max-width: 290px;
	width: auto;
}

#comments li {
	margin-left: 0 !important; 
	list-style: none;
}
.leave-reply {
  padding: 3px 0;
}
.comment-h3 {
	line-height: 23px;
	margin-bottom: 20px;
}