/*----------------------------------------------

	PARTIAL:	_footer.scss
	PARENT:		_theme-synapse.scss
	
 ----------------------------------------------*/
 
 /*	BIG FOOTER
 ---------------------------------------------- */
 .footer {
	background:  $white url(image-url('footer-shadow.png', true)) repeat-x scroll left top;
	padding: 40px 0 55px 0;
	@include box-shadow(0 1px 1px rgba($black, 0.15));
	color: $gray;
	font-size: $baseFontSize - 1;
	text-shadow: 1px 1px rgba($white, 0.8);
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 9px;

	.small-btn {
		padding: 7px 17px;
	} // END .footer .small-btn
	
} // END .footer

/*	SMALL FOOTER (end of page)
---------------------------------------------- */
.small-footer {
	margin-top: 30px;
}
.footer-left {
	float: left;
}
.footer-right {
	float: right;
}

/*	NEXT / PREV (current unused)
---------------------------------------------- */
// .next {
// 	background: url(image-url('arrow-right.png', true)) no-repeat top left;
// 	width: 11px;
// 	height: 17px;
// 	text-indent: -9999px;
// 	float: right;
// 	position: absolute;
// 	top: -30px;
// 	right: -30px;
// }
// .next:active {
// 	background: url(image-url('arrow-right.png', true)) no-repeat bottom left;
// }
// .prev {
// 	background: url(image-url('arrow-left.png', true)) no-repeat top left;
// 	width: 11px;
// 	height: 17px;
// 	text-indent: -9999px;
// 	float: left;
// 	position: absolute;
// }
// .prev:active {
// 	background: url(image-url('arrow-left.png', true)) no-repeat bottom left;
// }