/*----------------------------------------------

	PARTIAL:	_forms.scss
	PARENT:		_theme-synapse.scss
	
----------------------------------------------*/

#form-container { 
	tr, td, th {
		border: none !important;
	}
}
#subject {
	//max-width: 220px;
	width: 100%;
}
label {
	line-height: 26px !important;
}
textarea {
	.your-message & { 
		//max-width: 565px !important; 
		width: 100%;
	}
}
.demo-fieldset {
	border: none;
}
