/*----------------------------------------------

    PARTIAL:    _header.scss
    PARENT:     _theme-synapse.scss
    
 ----------------------------------------------*/

// BYSTL logo symbol can appear in two places depending on the device
.header .logo, .navbar .brand {
    position: relative; // so the > img can be absolute

    > img {
        position: absolute;
        top: 0;
        left: 0;
        speak: none; // so screen readers wont say the alt of the img
    }

    i {
        speak: none;
        display: none; // will only show on portrait phone size
    }

}
.header .logo {
    > img {
        max-width: image-width($headerLogoImg) / 2;    
    } 
    &, > img {
        max-height: image-height($headerLogoImg) / 2;     
    }
}
.navbar .brand {
    > img {
        max-width: image-width($navbarLogoImg) / 2;    
    } 
    &, > img {
        max-height: image-height($navbarLogoImg) / 2;     
    }
}

.header {
    // since we're using the fixed top navbar
    // we need to move this down
	background: url(image-url("top-bar-shadow.png", true)) top left repeat-x $white;
	padding-top: 30px; // this is changed according to @media query in _responsive-navbar.scss
    padding-bottom: 30px;
    .home & {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @include box-shadow(0 0 2px rgba($bystl_brown_black, 0.55));

}
.logo-container {
    float: left;
}

.logo {
    float: left;
    text-decoration: none !important;
}
// bystl logo text
.logo {
    h1, .h1, i {
        @include bystlLogoFont(true, "color");
        font-size: pxtoem(37);
    }
    i {
        color: $bystl_logo_blueDarkest;
    }
    //@include inset-text-shadow($black, $bystl_logo_blueDarkest, $white);
}

.tagline {
    color: #505050;
    font-size: $baseFontSize;
    border-left: 1px solid #eaeaea;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 38px;
    font-style: italic;
}