/*----------------------------------------------

    PARTIAL:    _header.scss
    PARENT:     _theme-synapse.scss
    
 ----------------------------------------------*/
 
.header {
    // since we're using the fixed top navbar
    // we need to move this down
	background: url(image-url("top-bar-shadow.png", true)) top left repeat-x $white;
	padding-top: 30px;
    padding-bottom: 30px;
    @include box-shadow(0 0 2px rgba($black, 0.35));
}
.logo-container {
    float: left;
}

.logo {
	position: relative;
    float: left;
    text-decoration: none !important;
    > img {
        position: absolute;
        top: 0;
        left: 0;
        speak: none; // so screen readers wont say the alt of the img
    }
}
// bystl logo text
.logo h1, .logo .h1 {
    @include bystlLogoFont(true, "color");
    font-size: pxtoem(37);
    //@include inset-text-shadow($black, $bystl_logo_blueDarkest, $white);
}

.tagline {
    color: #505050;
    font-size: $baseFontSize;
    border-left: 1px solid #eaeaea;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 38px;
    font-style: italic;
}