/****************************************
 * IQ Testimonials
 * Main CSS Rules
 *
 * Author: Roger MacRae
 * Author URI: http://www.rogermacrae.com
 ****************************************/
 

#iq-testimonials-label {
  float: left;
  width: 100px;
}

#iq-testimonials-input {
  width: 300px;
}

.iq-testimonial-wrap, .testimonial {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}

.iq-testimonial-featured-wrap {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}

.iq-testimonials-success {
  color:#090;
  font-weight:bold;
  padding:0;
  font-size:12px;
}
.iq-testimonials-error {
  color:#f00;
  font-weight:bold;
  padding:0;
}

/*  TESTIMONIALS WIDGET
---------------------------------------------- */
ul.testimonials, ul#tbtestimonials-widget {
  margin-left: 0 !important; 
  margin-right: 0 !important;
}
.testimonials, #tbtestimonials-widget, .sidebar-testimonials {
  @include darkBlueWidget;
  margin-top: 20px;
  color: lighten($bystl_blue_medium, 2%);
  font-size: $baseFontSize;
  text-shadow: -1px -1px rgba($black, 0.4);
  line-height: 17px;
  font-weight: bold;
}
.testimonial p {
  font-family: $serifFontFamily;
  font-size: $baseFontSize;
  line-height: 22px;
  font-weight: normal;
  text-shadow: -1px -1px rgba($black, 0.4);
  color: #959595;
}
.testimonial {
  padding: 4px 10px;
}
.sidebar .testimonial {
  padding: 4px 10px 20px 10px;
}
.testimonial-widget-info {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;

  .testimonial-readmore {
    display: block;
    float: right;
  }

  .testimonial-author {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 3px;
  }

} // END .testimonial-widget-info

.sidebar .testimonial-widget-info .testimonial-readmore {
  float: right;
  position: absolute;
  bottom: -20px;
  left: 50px;
  margin-top: 10px;
}


.testimonial-widget-meta .name,
.testimonial-widget-meta .testimonial-author {
  color: #b7b7b7;
  font-weight: bold;
}
.testimonial-widget-meta .testimonial-author {
  text-align: right;
}
.testimonial-widget-meta .location {
  color: #848484 !important;
  font-family: $serifFontFamily;
  font-weight: normal;
  font-size: $baseFontSize - 1;
  @include display(block);
  font-style: italic;
}
.sidebar-testimonials blockquote, 
.testimonials blockquote,
#tbtestimonials-widget blockquote {
  padding: 0;
  border-left: 0 none;
}
.sidebar-testimonials blockquote {
  margin: 10px 10px 10px 40px;
}
.page-content .testimonial-content {
  &, p {
    font-family: $serifFontFamily;
    font-size: $baseFontSize + 3;
    line-height: $baseLineHeight + 10;
  }
}
.page-content .testimonial-author {
  font-family: $serifFontFamily;
  font-size: $baseFontSize + 5;
  font-style: italic;
  color: $bystl_blue_medium;
  margin-top: 15px;
  text-align: right;
}
.testimonials blockquote,
#tbtestimonials-widget blockquote {
  font-family: $serifFontFamily;
  font-size: $baseFontSize;
  font-style: italic;
  font-weight: normal;
  line-height: 22px;
  position: relative;
  margin-top: 20px;
  margin: 1em 10px 1em 40px;
  margin-bottom: 5px;
  padding-top: 0 !important;
  float: left;
  position: relative;
}
.sidebar-testimonials blockquote:after {
  color: #c5cad1;
  content: '"';
  font-family: $serifFontFamily;
  font-style: italic;
  font-size: 3em;
  left: -36px;
  margin-right: 0.25em;
  position: absolute;
  top: 56px;
  font-weight: normal;
}
.testimonials blockquote:after,
#tbtestimonials-widget blockquote:after {
  color: #c5cad1;
  content: '"';
  font-family: $serifFontFamily;
  font-style: italic;
  font-size: 5em;
  left: -42px;
  margin-right: 0.25em;
  position: absolute;
  top: 12px;
}

// there are just too many to show the pager in that skinny column
.sidebar .testimonial-pager { display: none; }