/*----------------------------------------------

	PARTIAL:	_portfolio.scss
	PARENT:		_theme-synapse.scss

 ----------------------------------------------*/

 /*	HOME PAGE PORTFOLIO STUFF
 ---------------------------------------------- */

.home-portfolio {
	min-height: 251px;
	position: relative;

	ul {
    	background: none !important;
    } // END .home-portfolio <ul>

    .row {
		width: 960px !important;
	} // END .home-portfolio .row
} // END .home-portfolio
.home-portfolio-item {

	span {
		@include darkBlueWidget;
		text-align: center;
		float: left;
		width: 258px;
		//max-width: 258px;
		//width: 100%;
		padding: 15px 20px;
		margin-top: -2px;

		a {
			color: lighten($bystl_blue_medium, 2%);
			font-size: $baseFontSize;
			text-shadow: -1px -1px rgba($black, 0.5);
			line-height: 17px;
			font-weight: bold;
			@include transition(color 0.3s ease-in);

			&:hover {
				color: $white;
				text-decoration: none;
			} // END .home-portfolio-item <span><a>:hover

		} // END .home-portfolio-item <span><a>
	} // END .home-portfolio-item <span>

	img {
		@include border-radius($pageContentBdRadius);
		@include opacity(1.0);
		@include transition(opacity 0.3s ease-in);

		&:hover {
			@include opacity(0.8);
		} // END .home-portfolio-item <img>:hover

	} // END .home-portfolio-item <img>
} // END .home-portfolio-item


/*	PORTFOLIO ELEMS
---------------------------------------------- */
.portfolio-items {
	@include transition-property("height, width");

	&, .span-one-third {
		@include transition-duration(0.8s);
	}

	.span-one-third {
		@include transition-property("transform, opacity");
	}

} // END .portfolio-items

.portfolio-single-img {
	margin: 13px 0 25px 1px;
}
.portfolio-item {
	@extend .video-holder;
	margin-top: 0;
	margin-bottom: 20px;

	.portfolio-img {
		position: relative;
		width: 260px;
	} // END .portfolio-item .portfolio-img

	.portfolio-hover {
		background: url(image-url('hover-pattern.png', true)) repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 99.4%;
		text-align: center;

		a {
			float: left;
			text-indent: -99999px;
		}
	} // END .portfolio-item <something> .portfolio-hover
} // END .portfolio-item


// these are typically nested within .portfolio-hover
// but will leave generic in case they are used elsewhere
.zoom {
	width: 44px;
	@include display(block);
	height: 47px;
	background: url(image-url('icon-zoom.png', true)) no-repeat;
	position: absolute;
	left: 30%;
	top: 42%;
}
.goto {
	width: 44px;
	height: 47px;
	@include display(block);
	background: url(image-url('icon-goto.png', true)) no-repeat;
	position: absolute;
	left: 53%;
	top: 42%;
}


/*	PORTFOLIO ITEM SINGLE PAGE
---------------------------------------------- */
.portfolio-item-content {
	margin-top: 20px;
}
.portfolio-item-meta {
	float: left;
	width: 180px;
}
.portfolio-span {
	width: 155px;
}
.portfolio-item-meta .portfolio-span {
	@include display(block);
	font-weight: bold;
	margin-bottom: 5px;

}
.portfolio-span, .portfolio-span-desc {
	font-weight: normal;
}
.portfolio-span-desc {
	margin-left: 5px;
	line-height:21px;
}
.portfolio-item-description {
	float: left;
	//max-width: 395px;
	width: auto;
}