/*----------------------------------------------

	PARTIAL:	_scaffolding.scss
	PARENT:		_theme-synapse.scss
	
 ----------------------------------------------*/
 
body {
	padding-bottom: 20px; 
	background-color: $bodyBackground;
	background-repeat: repeat;
	background-image: image-url('patterns/Graphy2.png');
	
	&.bg_Axiom {
		background-image: image-url('patterns/Axiom.png');
	}
	&.bg_Brick {
		background-image: image-url('patterns/Brick.png');
	}
	&.bg_Connected {
		background-image: image-url('patterns/Connected.png');		
	}
	&.bg_Cube {
		background-image: image-url('patterns/Cube.png');		
	}
	&.bg_Fabric {
		background-image: image-url('patterns/Fabric.png');		
	}
	&.bg_Flower {
		background-image: image-url('patterns/Flower.png');		
	}
	&.bg_Graphy {
		background-image: image-url('patterns/Graphy.png');		
	}
	&.bg_Graphy2 {
		background-image: image-url('patterns/Graphy2.png');		
	}
	&.bg_Line {
		background-image: image-url('patterns/Line.png');		
	}
	&.bg_Noise {
		background-image: image-url('patterns/Noise.png');		
	}
	&.bg_Square {
		background-image: image-url('patterns/Square.png');		
	}
	&.bg_Wood {
		background-image: image-url('patterns/Wood.png');		
	}

} // END body

.span-two-thirds {
	@extend .span#{round($gridColumns * (2/3))};
	//@debug "TWO THIRDS: .span#{round($gridColumns * (2/3))}";
}
.span-one-third {
	@extend .span#{round($gridColumns * (1/3))};
	//@debug "ONE THIRD: .span#{round($gridColumns * (1/3))}";
}
#alternate .iq-testimonials, #alternate .iq-testimonials.span-one-third,
.footer .widget_text:first-child  {
	// override the one-thirds widget width and make it go two spans
	@extend .span#{round($gridColumns * (2/3))};
	//@debug "TWO THIRDS: .span#{round($gridColumns * (2/3))}";
}

.row-fluid [class*="span"] iframe {
	width: 100% !important;
	height: auto !important;
}

.page-container {
	margin-top: 40px;
} // END .page-container


/*	PAGE-CONTENT CHILDREN CONTAINERS
---------------------------------------------- */
.page-content {
	background: $white;
	padding: 15px 25px 25px 25px;
	//max-width: 578px;
	width: auto;
	@include box-shadow(0 1px 1px rgba($black, 0.15));
	margin-bottom: 30px;
	font-size: $baseFontSize - 1;
	@include border-radius(5px);
} // END .page-container > .page-content

.full {
	//max-width: 890px !important;
	width: 100%;
} // END .page-container > .full

.blog-page, .portfolio-page {
	float: left;
	//max-width: 628px;
	width: auto;
}

.portfolio-full  {
	margin-bottom: 35px;
}

.sidebar {
	padding: 15px 20px;
	//max-width: 250px;
	width: auto;
	margin-bottom: 35px;
	font-size: $baseFontSize - 2 !important;
	@include darkBlueWidget;
} // END .page-container > .sidebar

/*	CONTENT-SPECIFIC ELEM CONTAINERS
---------------------------------------------- */
.video-holder {
	@include darkBlueWidget;
	margin-top: 20px;
	padding: 20px;
} // END .video-holder

.cat-item a {
	@include darkBlueWidget;
	//max-width: 229px;
	width: 100%;
	padding: 10px;
	float: left;
	margin: 5px 0;
	text-align: right;
	@include display(block);
} // END .cat-item