/*----------------------------------------------

	PARTIAL:	_scaffolding.scss
	PARENT:		_theme-synapse.scss
	
 ----------------------------------------------*/
 
body {
	padding-bottom: 20px; 
	background-color: $white;
	background-repeat: repeat;
	background-image: image-url('patterns/Graphy2.png');
	
	&.bg_Axiom {
		background-image: image-url('patterns/Axiom.png');
	}
	&.bg_Brick {
		background-image: image-url('patterns/Brick.png');
	}
	&.bg_Connected {
		background-image: image-url('patterns/Connected.png');		
	}
	&.bg_Cube {
		background-image: image-url('patterns/Cube.png');		
	}
	&.bg_Fabric {
		background-image: image-url('patterns/Fabric.png');		
	}
	&.bg_Flower {
		background-image: image-url('patterns/Flower.png');		
	}
	&.bg_Graphy {
		background-image: image-url('patterns/Graphy.png');		
	}
	&.bg_Graphy2 {
		background-image: image-url('patterns/Graphy2.png');		
	}
	&.bg_Line {
		background-image: image-url('patterns/Line.png');		
	}
	&.bg_Noise {
		background-image: image-url('patterns/Noise.png');		
	}
	&.bg_Square {
		background-image: image-url('patterns/Square.png');		
	}
	&.bg_Wood {
		background-image: image-url('patterns/Wood.png');		
	}

} // END body

.page-container {
	margin-top: 40px;
} // END .page-container


/*	PAGE-CONTENT CHILDREN CONTAINERS
---------------------------------------------- */
.page-content {
	background: $white;
	padding: 15px 25px 25px 25px;
	width: 578px;
	@include box-shadow(0 1px 1px rgba($black, 0.15));
	margin-bottom: 30px;
	font-size: 12px;
} // END .page-container > .page-content

.full {
	width: 890px !important;
} // END .page-container > .full

.blog-page, .portfolio-page {
	float: left;
	width: 628px;
}

.portfolio-full  {
	margin-bottom: 35px;
}

$nbGradBoxShadowOpacity: 0.7 !default;
$nbGradBoxBorderColor: #1f1f1f !default;
$nbGradBoxBorderColor2: lighten($nbGradBoxBorderColor, .15%) !default;
$nbGradBoxHighlightEdge: rgba($white, $nbGradBoxShadowOpacity / 2);
@mixin navyBlueBgGradientBox {
	border: 1px solid $nbGradBoxBorderColor;
	background: $bystl_blue_navy; /* Old browsers */
	@include background-image(linear-gradient( $bystl_blue_navy 0%, $bystl_blue_black 100%));
	@include box-shadow(inset 0 1px 0 $nbGradBoxHighlightEdge, 0 1px 2px rgba($black, $nbGradBoxShadowOpacity));
} // END darkBlueBgGradient

.navyBlueBgGradientBox {
	@include navyBlueBgGradientBox;
}

.sidebar {
	padding: 15px 20px;
	width: 250px;
	margin-bottom: 35px;
	font-size: $baseFontSize - 2 !important;
	@extend .navyBlueBgGradientBox;
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bystl_blue_navy', endColorstr='$bystl_blue_black',GradientType=0 ); /* IE6-9 */
} // END .page-container > .sidebar

/*	CONTENT-SPECIFIC ELEM CONTAINERS
---------------------------------------------- */
.video-holder {
	@extend .navyBlueBgGradientBox;
	border-top: 1px solid $nbGradBoxBorderColor2;
	//@debug "#161616 should equal #{$nbGradBoxBorderColor2}";
	@include border-radius(5px);
	margin-top: 20px;
	padding: 20px;
} // END .video-holder

.cat-item {
	@extend .navyBlueBgGradientBox;
	width: 229px;
	border-top: 1px solid $nbGradBoxBorderColor2;
	@include box-shadow(inset 0 1px 0 $nbGradBoxHighlightEdge, rgba($black, $nbGradBoxShadowOpacity / 2));
	@include border-radius(5px);
	padding: 10px;
	float: left;
	margin: 5px 0;
	text-align: right;

	&:hover {
			background: $nbGradBoxHighlightEdge; /* Old browsers */
			@include background-image(linear-gradient( darken($bystl_blue_navy, 20%) 0%, darken($bystl_blue_black, 20%) 100%));
			//@debug "#43484b should equal #{darken($nbGradBoxHighlightEdge, 20%)}";
			@include box-shadow(inset 0 1px 0 $nbGradBoxHighlightEdge, 0 1px 2px rgba($black, $nbGradBoxShadowOpacity));
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d6366', endColorstr='#43484b',GradientType=0 ); /* IE6-9 */
		@include box-shadow(inset 0 1px 0 opacify($nbGradBoxHighlightEdge, .1), rgba($black, $nbGradBoxShadowOpacity / 2));
	} // END .cat-item:hover

} // END .cat-item