/*----------------------------------------------

	PARTIAL:	_slider.scss
	PARENT:		_theme-synapse.scss

 ----------------------------------------------*/

/*	SLIDER CONTENT (using bootstrap carousel)
---------------------------------------------- */
.carousel, #slider .content {
	margin: 20px 0;
	position: relative;
}
// content sliders
.slider-intro {

	&.slider-intro-left {
		padding-right: $sliderContentHspacing;
		.description {
			padding-right: $sliderContentHspacing * 1.5;
		}
	}
	&.slider-intro-right {
		padding-left: $sliderContentHspacing;
		.description {
			padding-left: $sliderContentHspacing * 1.5;
		}
	}

	h1, .h1 {
		margin-top: 35px;
		font-size: $sliderContentHeadingSize;
		line-height: $sliderContentHeadingSize;
		font-weight: bold !important;

		br {
			@extend .hidden-phone; // don't need the line breaks on our phone
		}

	}
	.description {
		&, & p {
			font-size: $baseFontSize + 2;
		}
	}
}
.carousel {
	.item img {
		.homeSlider & {
			@include border-radius($pageContentBdRadius);
		}
		width: 100%;
	}
}

.carousel#postures {
	margin-top: 0;
	position: relative;
	top: -20px;
}
.carousel#postures .item { max-width: 460px; margin: 0 auto; }

.carousel-control {
	@include opacity(0);
}
.carousel.hover, .carousel:hover {
	.carousel-control {
		@include opacity(1);
	}
}
// touch devices cannot detect hover
.touch .carousel-control { @include opacity(1); }


@media (max-width: $phoneBreakpoint) {

	$sliderContentPad_m: 20px !default;
	$sliderH1Size_m: $baseH1Size + 0px !default;
	$sliderH1LH_m: $sliderH1Size_m - 2 !default;
	$sliderH1hugeMod_m: 20 !default;

	.slide .content {

		h1, .h1 {
			font-size: $sliderH1Size_m;
			line-height: $sliderH1LH_m;
			@include text-shadow(0 3px 8px rgba($black, 0.8), 0 0 ($sliderH1Size_m / 2) rgba($black, 0.3));
			padding: 0 $sliderContentPad_m;

			strong {
				font-size: $sliderH1Size_m + $sliderH1hugeMod_m;
				line-height: $sliderH1LH_m + ($sliderH1hugeMod_m / 2);
				left: -#{$sliderH1hugeMod_m / 2}px;
			}

		}

	}

}
