/*----------------------------------------------

	PARTIAL:	_slider.scss
	PARENT:		_theme-synapse.scss

 ----------------------------------------------*/

$sliderContentPad: 20px !default;
$sliderH1Size: $baseH1Size + ($baseH1Size / 2) + 0px !default;
$sliderH1LH: $sliderH1Size - 5 !default;
$sliderH1hugeMod: 20 !default;

/*	SLIDER CONTENT (using bootstrap carousel)
---------------------------------------------- */  
.slide {

	.content, .content > .inner {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
	}

	.content {

		width: 100vw;
		@include transition(top .3s ease-in);

		h1, .h1 {
			font-size: $sliderH1Size;
			line-height: $sliderH1LH;
			font-weight: bold;
			color: $white;
			@include text-shadow(0 3px 8px rgba($black, 0.8), 0 0 ($sliderH1Size / 2) rgba($black, 0.3));
			padding: 0 $sliderContentPad;
			margin-bottom: 0;
			display: block;
			width: 100%;
			height: auto;

			strong {
				display: block;
				font-size: $sliderH1Size + $sliderH1hugeMod;
				line-height: $sliderH1LH + ($sliderH1hugeMod / 2);
				position: relative;
				left: -#{$sliderH1hugeMod / 2}px;
			}

		}

		p {
			display: block;
			width: 100%;
			height: auto;
			padding: $sliderContentPad;
			margin: 0;
			background: rgba($black, .4);

			font-size: $baseFontSize + 6;
			font-weight: normal;
			color: $white;
			font-family: $serifFontFamily;
			font-style: italic;
			@include text-shadow(none);
		}


	}

	.itemOverlay {
		position: absolute;
		z-index: 1000;

		.content {
			bottom: auto;
			top: -99em;

		}

	}

}
.carousel .item > img { width: 100%; }

.carousel-control {
	@include opacity(0);
}
.carousel.hover, .carousel:hover {
	.carousel-control {
		@include opacity(1);
	}
}
// touch devices cannot detect hover
.touch .carousel-control { @include opacity(1); }


@media (max-width: $phoneBreakpoint) {

	$sliderContentPad_m: 20px !default;
	$sliderH1Size_m: $baseH1Size + 0px !default;
	$sliderH1LH_m: $sliderH1Size_m - 2 !default;
	$sliderH1hugeMod_m: 20 !default;

	.slide .content {

		h1, .h1 {
			font-size: $sliderH1Size_m;
			line-height: $sliderH1LH_m;
			@include text-shadow(0 3px 8px rgba($black, 0.8), 0 0 ($sliderH1Size_m / 2) rgba($black, 0.3));
			padding: 0 $sliderContentPad_m;

			strong {
				font-size: $sliderH1Size_m + $sliderH1hugeMod_m;
				line-height: $sliderH1LH_m + ($sliderH1hugeMod_m / 2);
				left: -#{$sliderH1hugeMod_m / 2}px;
			}

		}

	}

}
