/*----------------------------------------------

	PARTIAL:	_type.scss
	PARENT:		_theme-synapse.scss

 ----------------------------------------------*/

@mixin sidebarHeadingStyle {
	color: $white;
	text-shadow: 1px 1px 0 rgba($black, 0.5);
	font-size: 16px;
	margin-top: 20px;
}

/*	HEADINGS, PARAGRAPHS, EMPHASIS, ETC
---------------------------------------------- */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	&, a {
		color: $headingColor;
		text-decoration: none !important;
		text-shadow: 1px 1px rgba($white, 0.8);
	}
	a:hover {
		color: $linkColorHover;
		text-decoration: none !important;
	}
}

#pageWrapper {
	h1, .h1 {
		@include webfont($logoFont_name, "sans-serif");
	}
}

.page-content h1, .page-content .h1 {
	margin-top: .5em;
	font-size: $pageContentH1Size;
	line-height: $pageContentH1Size;
}

.sidebar {
	h2, h3, .title {
		&, a {
			@include sidebarHeadingStyle;
		}
		&:first-child {
			margin-top: 0;
		}
	}
}

// posture titles
.postureEnglishName {
	font-family: inherit;
}
.postureSanskritName {
	margin-bottom: 0;
	font-family: $serifFontFamily;
	font-weight: normal;
	font-style: italic;
	position: relative;
	top: -20px;
	left: 0;
	letter-spacing: .1em;
	color: $bystl_blue_medium;

	&:before {
		content: "(";
	}
	&:after {
		content: ")";
	}
}
.postureDescription {
	font-family: inherit;
}

h3 {

	#alternate .widget &, .sidebar .widget & {
		//border-bottom: 1px solid darken(#3e536b, 15%);
		//margin-bottom: 15px;
		//padding-bottom: 7px;
		@include sidebarHeadingStyle;

	} // END .widget <h3>

	.sidebar .widget:first-child & {
		margin-top: 0;
	}

	.sidebar .blog-widget & {
		margin-bottom: 0;
	} // END .sidebar .blog-widget <h3>

	.footer & {
		text-shadow: none;
		border-bottom: 1px solid $bystl_tan_medium;
		padding-bottom: 5px;
		//margin-bottom: 20px;
	} // END .footer <h3>

} // END <h3>

p {
	text-shadow: 1px 1px rgba($white, 0.8);
	font-size: $baseFontSize;

	.page-content & {
		text-shadow: none;
	}

	.sidebar & {
		color: lighten($bystl_blue_medium, 2%);
		text-shadow: -1px -1px 0 rgba($black, 0.5);
	}

	.video-holder &, .portfolio-item & {
		color: #848484;
		font-family: $serifFontFamily;
		font-weight: normal;
		font-size: $baseFontSize - 1;
		font-style: italic;
		text-shadow: -1px -1px rgba($black, 0.4);
		margin: 15px 0 0 0;
	}

	.footer & {
		font-size: $baseFontSize - 1;
	}

} // END <p>

.large, .large p {
	font-size: $baseFontSize + 5;
	line-height: $baseLineHeight + 9;
}
.huge, .huge p {
	font-size: $baseFontSize + 20;
	line-height: $baseLineHeight + 28;
}

.page-content {
	&, & p {
		font-size: $baseFontSize + 3;
	}
	p {
		line-height: $baseLineHeight + 11;
	}
	small, p small, p.small {
		font-size: $baseFontSize - 2;
		line-height: $baseLineHeight - 2 !important;
		color: inherit;
	}
	.alert p {
		font-size: $baseFontSize;
		line-height: $baseLineHeight;
	}
	.large, .large p, p .large, p.large {
		font-size: $baseFontSize + 6;
		line-height: $baseLineHeight + 15 !important;
	}
	.huge, .huge p, p .huge, p.huge {
		font-size: $baseFontSize + 20;
		line-height: $baseLineHeight + 30 !important;
	}
	blockquote {
		&, p {

			padding: 20px;
			margin: 0;
			border: 0 none;
			color: darken($bystl_logo_blueDarkest, 6%);

		}

		p {
			margin-bottom: $baseLineHeight - ($baseLineHeight / 2);
			padding: 0;
		}

	}
}

em {
	font-style: italic;
} // END <em>
strong {
	font-weight: bold;
}
b {
	@extend strong;
}
.serif {
	font-family: $serifFontFamily;
}
.ltblue-text, .ltblue-text p {
	color: $bystl_logo_blueLight;
}
.blue-text, .blue-text p {
	color: $bystl_logo_blueDarkest;
}
.red {
	color: $red;
}
.sidequote {
  margin: 0 0 0 30px;
  padding: 10px !important;
  text-align: center;
  font-style: italic;
  font-family: $serifFontFamily;
  //@extend .well;

  &:after, &:before {
  	content: '"';
  	color: $bystl_logo_blueLight;
  	@include opacity(.6);
    font-size: inherit;
    position: inherit;
    left: 0;
    right: 0;
    top: 0;
  }

}


/*	LINKS
---------------------------------------------- */
a {
	color: $linkColor;
	.sidebar & {
		color: lighten($bystl_blue_medium, 20%);
		&:hover {
			color: $bystl_blue_medium;
		}
	}
	&:hover {
		color: $linkColorHover;
		text-decoration: none;
	}

	.video-holder &, .portfolio-item & {
		color: lighten($bystl_blue_medium, 20%);
		@include transition(color 0.3s ease-in);
		&:hover {
			color: $bystl_blue_medium;
		}
	} // END .video-holder <a>, .portfolio-item <a>

	.cat-item & {
		font-size: $baseFontSize;
		line-height: 22px;
		text-shadow: -1px -1px 0 rgba($black, 0.5);
		float: left;
	} // END .cat-item <a>

	.cat-item li & {

		&:hover {
			text-decoration: none;
			color: $white;
		}
	} // END .cat-item <li><a>

} // END <a>

.small-footer {
	color: $bystl_tan_darkest;
	text-shadow: 0 1px 0 $white;
	a {
		color: $bystl_brown_almstBlk;
		&:hover {
			color: $linkColorHover;
			text-decoration: none;
		}
	}
	.breadcrumb {
		margin: 0;
		padding: 0;
		background: transparent;
		border: 0 none;
		@include box-shadow(none);

		li {
			&:after {
				color: lighten($bystl_tan_darkest, 10%);
				margin: 0 2px;
				content: " / ";
			}
			&:last-child:after {
				margin: 0;
				content: "";
			}
		}
	}
} // END .small-footer

/*	LISTS
---------------------------------------------- */
ul, ol {

	.article-excerpt &, .portfolio-item-content & {
		padding: 5px 0;
	} // END .article-excerpt <ol>/<ul>, .portfolio-item-content <ol>/<ul>
} // END <ol> && <ul>

ol {
	list-style: decimal outside none !important;
} // END <ol>

ul {

	list-style: none;

	.widget &, &.widgets {
		margin: 12px 0;

		ul {
			margin-top: 10px;
		} // END .page-content <ul><ul>, .widget <ul><ul>

	}

	.article-excerpt &, .portfolio-item-content & {

		li {
			padding-left: 18px;
			background: url(image-url('list-bullet.png', true)) no-repeat top left;
			margin-bottom: 10px;
		}

	} // END .article-excerpt <ul>, .portfolio-item-content <ul>
} // END <ul>

li {

	ol & {
		margin-left: 18px;
		margin-bottom: 10px;

		pre & {
			margin: 0;
		} // END <pre><ol><li>

	} // END <ol><li>

	.labels & {
		margin-bottom: 10px;
	} // END .labels <li>

	.sidebar ul & {
		margin-left: 0 !important;
	} // END .sidebar <ul><li>

	.dotted ul &, .dotted & {
		padding-left: 18px;
		background: url(image-url('list-bullet.png', true)) no-repeat top left;
		margin-bottom: 10px
	} // END .dotted <li>

} // END <li>


/*	BLOCKQUOTES, CODE, ETC
---------------------------------------------- */
.box blockquote {
	padding: 0;
	border: 0;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 0 !important;

	&, & > p {
		font-family: $serifFontFamily;
		font-size: 15px;
		line-height: 22px;
	}

	.large, &.large {
		font-size: 18px;
		line-height: 26px;
	}

	&:after {
		color: #CCCCCC;
		content: open-quote;
		font-family: $serifFontFamily;
		font-size: 5em;
		left: -42px;
		margin-right: 0.25em;
		position: absolute;
		top: 15px;
	}

} // END .box blockquote

/*	WORDPRESS CLASS TYPOGRAPHY
---------------------------------------------- */
.page-title {
	margin-bottom: 10px;
}