/*----------------------------------------------

	PARTIAL:	_widgets.scss
	PARENT:		_theme-synapse.scss

----------------------------------------------*/


.widget {
	margin-bottom: 10px;
}

.testimonials, .tweet, .widget,
.footer ul, #alternate ul {
	margin-left: 0;
	margin-right: 0;
}

.tweet, .blog-widget, .blog-slider {
	#alternate &, .footer & {
		width: auto !important;
	}
}


/*	BLOG WIDGET
---------------------------------------------- */
.sidebar .blog-widget-article {
	margin-top: 15px;
	padding-bottom: 15px;
}
.blog-widget-article {
	//margin-top: 20px;
	border-bottom: 1px solid $bystl_blue_black;
	float: left;
	padding-bottom: 20px;
	width: 100%;
}
.sidebar .blog-widget-info {
	//max-width: 173px;
	width: auto;
}
.blog-widget-info {
	float: right;
	//margin-left: 20px;
	//max-width: 223px;
	width: auto;
}
.blog-widget-article .blog-widget-info {
	float: left;
}
.footer .blog-widget-info {
	//max-width: 140px !important;
	width: auto;
}
.footer .blog-widget-articles > li:first-child {
	margin-top: 0 !important;
}
.sidebar .blog-widget-articles > li:first-child {
	margin-top: 5px !important;
}
.footer .blog-widget-title {
	text-shadow: none;
	font-weight: bold !important;
	color: #585858 !important;
}
.footer .blog-widget-title:hover {
	color: #808080 !important;
}
.footer .blog-widget-meta  {
	text-shadow: none;
}
.footer .blog-widget-article {
	border-bottom: 1px solid $ccc;
}
.blog-widget-title {
//	color: #ababab !important;
	font-size: $baseFontSize;
	text-shadow: -1px -1px rgba($black, 0.4);
	line-height: 17px;
	font-weight: bold;
	@include transition(color 0.3s ease-in);
	padding: 2px 0;
}
.blog-widget-title:hover {
	//color: $e5e5e5 !important;
	text-decoration: none;
}
.sidebar .blog-widget-meta a {
	@include display(block);
}

.blog-widget-meta {
	color: darken($bystl_blue_medium, 5%);
	font-size: $baseFontSize - 1;
	text-shadow: -1px -1px rgba($black, 0.3);
	line-height: 17px;
	padding: 2px 0;
	font-family: $serifFontFamily;
	margin-top: 2px;
}
.blog-widget-meta a {
	//color: #6c6c6c !important;
	margin-right: 5px;
}
.blog-widget-articles {
	margin: 0 !important;
}
.blog-widget-articles > li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}


/*	VIDEO WIDGET
---------------------------------------------- */
.sidebar-video-widget {
	margin-bottom: 5px;
}

/*	TWITTER WIDGET
---------------------------------------------- */
.sidebar-tweet {
	@include darkBlueWidget;
	padding: 20px;
}

.tweet span, .sidebar-tweet span {
	font-size: $baseFontSize - 1;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 9px;
	color: $gray !important;
}

.sidebar-twitter-widget {
	margin-bottom: 15px;

	.tweet_list {
		margin: 0;

		li {
			margin: 0;
			//width: 163px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			padding-left: 40px;
			background: url(image-url('icon-twitter-big.png', true)) no-repeat 1px 4px;
			border-bottom: 1px solid #3e536b;

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}

			a {
				text-shadow: 1px 1px 1px rgba($black, 0.5) !important;
			} // END .sidebar-twitter-widget .tweet_list <li><a>
		} // END .sidebar-twitter-widget .tweet_list <li>
	} // END .sidebar-twitter-widget .tweet_list

	span {
		color: lighten($bystl_blue_medium, 5%) !important;
		text-shadow: -1px -1px 0 rgba($black, 0.5);
	} // END .sidebar-twitter-widget <span>

} // END .sidebar-twitter-widget

.tweet_list {
	margin-bottom: 20px;

	li {
		margin-top: 20px;

		// a {
		// 	font-family: $serifFontFamily;
		// 	font-style: italic;
		// 	font-weight: bold;
		// 	font-size: $baseFontSize - 2;
		// } // END .tweet_list <li><a>
	} // END .tweet_list <li>
	li:first-child {
		margin-top: 0;
	}
} // END .tweet_list


/*	FLICKR WIDGET
---------------------------------------------- */
#alternate #flickr_badge_wrapper {
	margin-top: 11px !important;

	img {
		margin: 9px 9px 0 0;
		padding: 7px;
		@include opacity(1);
		@include transition(opacity 0.3s ease-in);

		&:hover {
			@include opacity(0.6);
		}
	}
} // END #alternate #flickr_badge_wrapper
.sidebar #flickr_badge_wrapper img {
	margin: 0 15px 15px 0;
	padding: 7px;
	@include opacity(1);
	@include transition(opacity 0.3s ease-in);
} // END .sidebar #flickr_badge_wrapper
.footer .flickr_badge_image {
	float: left;
	margin: 3px 18px 10px 0;

	img {
		border: 7px solid $white;
		@include border-radius($pageContentBdRadius);
		@include box-shadow(0 1px 1px rgba($black, 0.25));
	}
} // END .footer .flickr_badge_image

/*	CATEGORY WIDGET
---------------------------------------------- */
.category-widget {

	li span a {
		float: right;
		line-height: 10px;
		font-size: $baseFontSize - 2;
		background: $bystl_blue_black; /* Old browsers */
		@include background-image(linear-gradient($bystl_blue_black, lighten($bystl_blue_black, 5%)));
//		@include filter-gradient($bystl_blue_black, lighten($bystl_blue_black, 5%));
		color: #cecece !important;
		padding: 6px 10px;
		margin-left: 30px;
		position: relative;
		@include border-radius(99px 99px 99px 99px);
		@include box-shadow(0 1px 1px rgba($black, 0.6) inset);
		text-shadow: 1px 1px 1px rgba($black, 0.4);
	}
} // END .category-widget

/*	FOOTER WIDGETS
---------------------------------------------- */

$footerElemMargin: 7px !default;

// footer map widget
.footer .widget_text {
	@extend .span-two-thirds;
}

// footer vCard styles
.footer .info > div {

	padding: 0 0 0 20px;
	color: $gray6;

}

.footer .info .vcard {

	// split up logical sections of address / contact text
	.org, .adr, .email, .tel {
		display: block;
		margin-bottom: $footerElemMargin;
	}

	.org {
		font-size: $baseFontSize + 4;
		font-weight: bold;
		text-shadow: 0 0 transparent !important;
	}

	.contact-info {
		//padding: 0 10px; // keep it inset from .org above
	}

	.email {
		color: inherit;
	}

	.adr {

		color: inherit;

		.line-two {
			padding-left: 14px;
		}

		.street-address {
			color: inherit;
		}
		.locality { // city
			color: inherit;
		}
		.region { // state
			color: inherit;
		}
		.postal-code {
			color: inherit;
		}

	} // END address

	.tel {
		color: inherit;
	}

} // end vcard

// footer directions styles
.footer .info .h4 {
	font-size: $baseFontSize + 2;
	font-weight: bold;
	text-shadow: 0 0 transparent !important;
	//
	display: block;
	width: 100%;
	height: auto;
	margin-top: $footerElemMargin * 2;
	margin-bottom: $footerElemMargin * 2;
	padding-top: $footerElemMargin;
	border-top: 1px solid $grayLighterD;
}

.footer .info .tab-pane {
	font-size: $baseFontSize - 1;
}
