/*----------------------------------------------

	PARTIAL:	_widgets.scss
	PARENT:		_theme-synapse.scss
	
----------------------------------------------*/
@mixin darkBlueWidget {
	background: $bystl_blue_navy; /* Old browsers */
	@include background-image(linear-gradient($bystl_blue_navy, $bystl_blue_black));
	@include filter-gradient($bystl_blue_navy, $bystl_blue_black);
	border: 1px solid #1f1f1f;
	border-bottom: 1px solid #161616;
	@include box-shadow(inset 0 1px 0 rgba($white, 0.3), 0 1px 2px rgba($black, 0.35));
	@include border-radius(5px);
}

.widget {
	margin-bottom: 10px;
}


/*	BLOG WIDGET
---------------------------------------------- */
.sidebar .blog-widget-article {
	margin-top: 15px;
	padding-bottom: 15px;
}
.blog-widget-article {
	margin-top: 20px;
	border-bottom: 1px solid lighten($gray, 5%);
	float: left;
	padding-bottom: 20px;
}
.sidebar .blog-widget-info {
	width: 173px;
}
.blog-widget-info {
	float: right;
	margin-left: 20px;
	width: 223px;
}
.footer .blog-widget-info {
	width: 140px !important;
}
.footer .blog-widget-articles > li:first-child {
	margin-top: 0 !important;
}
.sidebar .blog-widget-articles > li:first-child {
	margin-top: 5px !important;
}
.footer .blog-widget-title {
	text-shadow: none;
	font-weight: bold !important;
	color: #585858 !important;
}
.footer .blog-widget-title:hover {
	color: #808080 !important;
}
.footer .blog-widget-meta  {
	text-shadow: none;
}
.footer .blog-widget-article {
	border-bottom: 1px solid #C9C9C9;
}
.blog-widget-title {
	color: #ababab !important;
	font-size: $baseFontSize;
	text-shadow: -1px -1px rgba($black, 0.4);
	line-height: 17px;
	font-weight: bold;
	-moz-transition:color 0.3s ease-in;
	-webkit-transition:color 0.3s ease-in;
	-o-transition:color 0.3s ease-in;
	padding: 2px 0;
}
.blog-widget-title:hover {
	color: #e5e5e5 !important;
	text-decoration: none;
}
.sidebar .blog-widget-meta a {
	display: block;
}

.blog-widget-meta {
	color: #969696;
	font-size: $baseFontSize - 1;
	text-shadow: -1px -1px rgba($black, 0.3);
	line-height: 17px;
	-moz-transition:color 0.3s ease-in;
	-webkit-transition:color 0.3s ease-in;
	-o-transition:color 0.3s ease-in;
	padding: 2px 0;
	font-family: $serifFontFamily;
	margin-top: 2px;
}
.blog-widget-meta a {
	color: #6c6c6c !important;
	margin-right: 5px;
}
.blog-widget-articles {
	margin: 0 !important;
}
.blog-widget-articles > li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}


/*	VIDEO WIDGET
---------------------------------------------- */
.sidebar-video-widget {
	margin-bottom: 5px;
}

/*	TESTIMONIALS WIDGET
---------------------------------------------- */
.footer .testimonials {
	width: 218px !important;
}
.footer .testimonials blockquote {
	width: 125px !important;
}
.footer .testimonial-widget-meta {
	width: 116px !important;
}
.testimonials, .sidebar-testimonials {
	@include darkBlueWidget;
	margin-top: 20px;
	color: #989898;
	font-size: $baseFontSize;
	text-shadow: -1px -1px rgba($black, 0.4);
	line-height: 17px;
	font-weight: bold;
}
.testimonial p {
	font-family: $serifFontFamily;
	font-size: $baseFontSize - 1;
	line-height: 22px;
	font-weight: normal;
	text-shadow: -1px -1px rgba($black, 0.4);
	color: #959595;
}
.testimonial {
	padding: 20px;
}
.testimonial-widget-info {
	float: left;
	margin-bottom: 10px;
}
.testimonial-widget-info img {
	@include border-radius(5px);
	float: left;
	@include box-shadow(0 1px 2px rgba($black, 0.35));
}
.sidebar .testimonial-widget-meta {
	width: 148px;
}
.testimonial-widget-meta {
	margin-left: 15px;
	float: right;
	width: 190px;
	margin-top: 5px;
}
.testimonial-widget-meta span {
	color: #b7b7b7;
}
.testimonial-widget-meta a {
	color: #848484 !important;
	font-family: $serifFontFamily;
	font-weight: normal;
	font-size: $baseFontSize - 1;
	display: block;
	font-style: italic;
}
.sidebar-testimonials blockquote {
	margin: 10px 10px 10px 40px;
}
.testimonials blockquote {
	font-family: $serifFontFamily;
	font-size: $baseFontSize - 1;
	line-height: 22px;
	position: relative;
	margin-top: 20px;
	margin: 1em 10px 1em 40px;
	margin-bottom: 5px;
	padding-top: 0 !important;
	float: left;
	font-weight: normal;
	position: relative;
}
.sidebar-testimonials blockquote:after {
	color: #ccc;
	content: '"';
	font-family: $sansFontFamily;
	font-style: italic;
	font-size: 3em;
	left: -36px;
	margin-right: 0.25em;
	position: absolute;
	top: 56px;
	font-weight: normal;
}
.testimonials blockquote:after {
	color: #ccc;
	content: '"';
	font-family: $sansFontFamily;
	font-style: italic;
	font-size: 5em;
	left: -42px;
	margin-right: 0.25em;
	position: absolute;
	top: 22px;
}

/*	TWITTER WIDGET
---------------------------------------------- */
.sidebar-tweet {
	@include darkBlueWidget;
	padding: 20px;
}

.tweet span, .sidebar-tweet span {
	font-size: $baseFontSize - 1;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 9px;
	color: $gray !important;
}

.sidebar-twitter-widget {
	margin-bottom: 15px;

	.tweet_list {
		margin: 0;

		li {
			margin: 0;
			width: 163px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			padding-left: 40px;
			background: url(image-url('icon-twitter-big.png', true)) no-repeat 1px 4px;
			border-bottom: 1px solid #5A5A5A;

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}

			a {
				text-shadow: 1px 1px 1px rgba($black, 0.5) !important;
			} // END .sidebar-twitter-widget .tweet_list <li><a>
		} // END .sidebar-twitter-widget .tweet_list <li>
	} // END .sidebar-twitter-widget .tweet_list

	span {
		color: #969696 !important;
		text-shadow: -1px -1px 0 rgba($black, 0.5);
	} // END .sidebar-twitter-widget <span>

} // END .sidebar-twitter-widget

.tweet_list {
	margin-bottom: 20px;

	li {
		margin-top: 20px;
		
		a {
			font-family: $serifFontFamily;
			font-style: italic;
			font-weight: bold;
			font-size: $baseFontSize - 2;	
		} // END .tweet_list <li><a>
	} // END .tweet_list <li>
} // END .tweet_list


/*	FLICKR WIDGET
---------------------------------------------- */
#alternate #flickr_badge_wrapper {
	margin-top: 11px !important;

	img {
		margin: 9px 9px 0 0;
		padding: 7px;
		@include opacity(1);
		-moz-transition:opacity 0.3s ease-in;
		-webkit-transition:opacity 0.3s ease-in;
		-o-transition:opacity 0.3s ease-in;

		&:hover {
			opacity: 0.6;
		}
	}
} // END #alternate #flickr_badge_wrapper
.sidebar #flickr_badge_wrapper img {
	margin: 0 15px 15px 0;
	padding: 7px;
	@include opacity(1);
	-moz-transition:opacity 0.3s ease-in;
	-webkit-transition:opacity 0.3s ease-in;
	-o-transition:opacity 0.3s ease-in;
} // END .sidebar #flickr_badge_wrapper
.footer .flickr_badge_image {
	float: left;
	margin: 3px 18px 10px 0;

	img {
		border: 7px solid #fff;
		@include border-radius(5px);
		@include box-shadow(0 1px 1px rgba($black, 0.25));
	}
} // END .footer .flickr_badge_image

/*	CATEGORY WIDGET
---------------------------------------------- */
.category-widget {

	li span a {
		float: right;
		line-height: 10px;
		font-size: $baseFontSize - 2;
		background: $bystl_blue_black; /* Old browsers */
		@include background-image(linear-gradient($bystl_blue_black, lighten($bystl_blue_black, 5%)));
		@include filter-gradient($bystl_blue_black, lighten($bystl_blue_black, 5%));
		color: #cecece !important;
		padding: 6px 10px;
		margin-left: 30px;
		position: relative;
		@include border-radius(99px 99px 99px 99px);
		@include box-shadow(0 1px 1px rgba($black, 0.6) inset);
		text-shadow: 1px 1px 1px rgba($black, 0.4);
	}
} // END .category-widget